@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border: solid;
  width: 100%;
  border-collapse: collapse;
}
.table-container {
  width: 100%;
  overflow: auto;
}
.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.user {
  border: 3px solid red;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 5px;
}

th,
td {
  border: 1px solid #ddd; /* Light grey border */
  padding: 8px; /* Spacing inside cells */
  text-align: left; /* Align text to the left */
}
th,
td {
  width: 150px; /* Adjust the width as needed */
}
table {
  table-layout: fixed; /* Fixed layout to ensure consistent column widths */
}
.form-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
input {
  height: 20px;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
.form-wrapper {
  border: solid red;
  margin-top: 20px;
}
.form-wrapper h1 {
  text-align: center;
}
.submit {
  width: 80px;
  margin-left: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}
